@import url(https://fonts.google.com/?query=cursi&selection.family=Cedarville+Cursive);

.content{
  color: #fff;
  text-align: center;
  font-family:;
  margin: 40px auto;
  width: 100%;
  max-width: 960px;
  border-radius: 5px;
  padding-bottom: 32px;
  background: rgba(22,22,22, 0.5);
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.content:hover{
   opacity: 0.9;
   filter: alpha(opacity=90);
}

.header-image{
  width: 600px;
  border-radius:60%;
}

.movieOne{
  width: 250px;
  padding: 35px 32px 7px;
}
.awardsOne{
  text-align: left;
  margin: 70px auto;
  max-width: 900px;
}
.movieTwo{
  width: 250px;
  padding: 35px 32px 7px;
}
.awardsTwo{
  text-align: right;
  margin: 70px auto;
  max-width: 900px;
}
.movieThree{
  width: 250px;
  padding: 35px 32px 7px;
}
.awardsThree{
  text-align: left;
  margin: 80px auto;
    max-width: 900px;
}

body {
  background: url(http://studioghiblimovies.com/images/laputaww7.jpg) no-repeat center center fixed;
  background-size: cover;
  
}

h1
{
  font-family: 'Cedarville Cursive';
    font-size: 58px;
}
p.b
{
  font-family: 'Cedarville Cursive';
    font-size: 23px;
}